.DS_Store
.idea/
CHANGELOG
LICENSE
README.txt
Vagrantfile
activator-wo-nr
app/
build.sbt
build.sbt-bak
build.sbt.bak
conf/
extension-example.xml
extension.xsd
history.txt
hs_err_pid5356.log
jre-8u60-linux-x64.rpm
newrelic.yml
newrelic/
nrcerts
target/
test
tmp/

